#contenedor{
    width: 700px;
}

.col{
    height: 300px;
    overflow: auto;
    scrollbar-width: none;
}

.colapse{
    overflow: hidden;
    transition: all 300ms ease-out;
    scrollbar-width: none;
}

.colapse:has( > .extendedor[colapse="false"]){
    overflow: hidden;
    max-height: 900px;
}

.colapse:has( > .extendedor[colapse="true"]){
    overflow: auto;
    max-height: 30px;
}

*{
    overflow: hidden;
}