#pantalla{
    margin-top: 5%;
    width: 820px;
    height: 530px;
    background-color: red;
    padding: 10px;
}


#menuInfo{
    height: 200px;
    overflow: auto;
    scrollbar-width: none;
}

.piso{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.pisos{
    margin-inline: 5px;
}
