#pantalla{
    background-color: rgb(231, 191, 249); width: 900px;height: 400px;
    overflow: auto;
    scrollbar-width: none;
    border-radius: 10px;
    border: solid 3px rgba(0, 0, 0, 0.291);
}

#imprimir{
   
    border: solid 2px rgba(255, 0, 0, 0.39);
    border-radius: 12px;
}

.lista{
    width: 160%;
}

