body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}
#configuracion  , #pantalla{
    display: flex;
}

#paises{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

#configuracion{
    flex-direction: column;
    padding: 2%;

}



