body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 100;
    margin: 0;
    user-select: none;

}





.checkbox{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    
}





.check_box{
    position: absolute;
    border-radius: 3px;
    color: white;
    border: 1.5px solid rgba(0, 0, 0, 0.161);
    top: 100;
    left: 70;
    height: 25px;
    width: 25px;
    transition: all 0.3s ease-in-out;
    & .material-icons{
        scale: 0;
        transition: all 0.3s ease-in-out;
    }
}


input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 0;
    height: 0;
    

    &:checked ~ .check_box {
        background-color: aqua;
        & .material-icons{
            scale: 1;
        }
    }

}








