
body{
	background-color:#FAEBD7;
	font-family: 'Open Sans', sans-serif;
	padding-top:3%;
	padding-left:0;
	
}



h1{
	text-align:center;
	color:#ccc;
	text-transform:uppercase;
}

h1::after{
	content:': Lotfi lotfi';
}


p {
	border:1px dashed ;
	padding:2%;
	width:16%;
	height:15%;
	background-color:bisque;
	text-align:justify;
	float:left;
	margin:2%;
	line-height:150%;
	font-style:italic;
	
	
}

p::first-letter{
	font-style:normal;
	font-size:300%;
	color:#E08C29 ;
	float:left;
	font-style:normal;
	
}
