html{
   background-color: black;
}


.colorAzul{
    color: #6f8cfe;
}
.colorAzulClarito{
  color: rgb(134, 238, 203);
}

.centrar-Texto{
  text-align: center;
}

.edificios{
  max-width: 600px;
  margin: auto;
  background-color: #212121ef;
  color: white;
}



.redondear{
  border-radius: 5px;
  overflow: hidden;
}

.edificio-Titulo{
  background-color: rgba(245, 245, 245, 0.084);
  text-align: center;
  margin: 0;
}

.contraer{
  transition: all 500ms ease-out;
}

.contraer:has( > .expandidor[mostrar="false"]) {
  max-height: 28px;
}
.expandidor{
  margin-top: 0;
  cursor: pointer;
}
.contraer:has( > .expandidor[mostrar="true"]) {
  max-height: 800px;
}

.edificio-contenedor{
  margin: 10px;
}

.plantas{
  background-color: rgb(63, 63, 63);
  padding: 5px;
}

.plantas-contenedor{
  width: fit-content;
  justify-content: start;
  display: flex;
  flex-wrap: wrap;
}

.bg-exito{
  background-color: rgb(130, 182, 52);
}

.bg-error{
  background-color: rgb(255, 48, 48);
}

#notificacion{
  height: 80px;
  margin-inline: auto;
  max-width: 400px;
  min-width: 200px;
  color: white;
  display: none;
  align-items: center;
  & #img1{
    width: 40px;
    margin-left:15px ;
  }
  & span{
    flex-grow: 1;
    text-align: center;
  }
  & #img2{
    background-color: rgba(0, 0, 0, 0.245);
    &:hover{
      background-color:rgba(0, 0, 0, 0.518) ;
    }
    float: right;
    height: 100%;
    width: 40px;
  }

  
}
.puertas{
  padding-inline: 10px;
  margin:5px;
  flex-grow: 1;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.397);
  background-color: rgba(24, 92, 240, 0.349);
  width: 160px;
  min-width: 130px;
  flex-basis: 120px;
  & button{
    float: right;
  }
}

.puertas:hover{
  background-color: rgba(102, 128, 128, 0.429);
}

.cursor-click   {
  cursor: pointer;
}

.puertas:active{
  background-color: rgba(70, 91, 91, 0.42);
}
.input-tansparente-blanco{
  width: 120px;
  margin: 0 0 15px 0;
}


.sinBordes{
  background: none;
  border: none;
  &:focus{
    outline: none;
    border: none;
  }
}

.boton{
  background-color: rgba(69, 111, 250, 0.986);
  border: solid 2px rgba(0, 39, 75, 0.272);
  border-radius: 4px;
  height: auto;
  font-size: 100%;
  color: white;
}

.my{
  margin-top: 10px;
  margin-bottom: 10px;
}
.mx-auto{
  margin-inline: auto;
}

.ms{
  margin-inline-start: 10px;
}

.p{
  padding: 10px;
}

.justify-content-wrap{
  display: flex;
  flex-wrap:wrap ;
  justify-content: space-around;
  text-align: center;

  & > *{
    margin: 2px 10px;
  }
  & input , & .boton{
    width: 30%;
    flex-grow: 1;
    height: 25px;
    font-size: 100%;

  }
  & b{
    width: 100%;
  }

}

input{
  background-color: rgba(121, 121, 121, 0.484);
  border:none;
  border-radius: 2px;
  color: aliceblue;
  outline: none;
}
input::placeholder{
  color: rgba(255, 255, 255, 0.591);
}